<router-outlet></router-outlet>
<app-welcome-animation *ngIf="showingWelcome" (click)="accessApp()"></app-welcome-animation>
<app-video-player *ngIf="showingVideo" (closeEvent)="stopVideo()"></app-video-player>

<div class="app-wrapper">
    <div class="stars" [ngStyle]="{'box-shadow': small}"></div>
    <div class="stars2" [ngStyle]="{'box-shadow': medium}"></div>
    <div class="stars3" [ngStyle]="{'box-shadow':big}"></div>

    <!-- Header -->
    <div class="top-indicators">
        <div class="logo-container"><img class="logo" src="../assets/img/logos/logo-sonidos-del-cielo.svg"></div>
        <!-- Speech detected -->
        <p class="speech-detected">{{ lastRecognition }}</p>
        <!-- Counter -->
        <div class="counter-wrapper">
            <img class="meteor-icon" src="../assets/img/planets/meteoro.svg">
            <p class="classification-count">{{ classificationCount }}</p>
        </div>
        <!-- Micro status -->
        <div [ngClass]="{'micro-on': voiceRecognitionService.isStoppedSpeechRecog === false, 'micro-off': voiceRecognitionService.isStoppedSpeechRecog === true}" class="micro-status" title="Estado del micrófono">
            <fa-icon [icon]="faMicro" style="font-size: 20px !important;"></fa-icon>
        </div>
        <!-- Repeat last -->
        <div class="repeat-last" title="Repetir sonido" style="padding: 10px 15px 14px 9px !important;" (click)="playLastMeteorSound()">
            <fa-icon [icon]="faRepeat" style="font-size: 20px !important;"></fa-icon>
        </div>
        <!-- Tutorial quick access -->
        <div class="tutorial-btn" title="Ver tutorial" (click)="playVideo()">
            <fa-icon [icon]="faQuestion" style="font-size: 20px !important;"></fa-icon>
        </div>
    </div>
    <div id="meteor">
        <img class="meteor-animation" src="../assets/img/planets/meteoro.svg">
    </div>

    <!-- Meteor images -->
    <div class="meteor-graph"></div>
    
    <!-- Companion-->
    <div>
        <img class="companion-animation" src="../assets/img/animations/unicornio-astronauta.svg">
    </div>

    <!-- Other nimations -->
    <div *ngIf="classificationCount==1 || classificationCount>1">
        <img class="fisherman-animation" src="../assets/img/animations/pescador-astronauta.svg">
    </div>
    <div *ngIf="classificationCount==5 || classificationCount>5">
        <img class="banderilla-animation" src="../assets/img/animations/banderilla-astronauta.svg">
    </div>
    <div *ngIf="classificationCount==10 || classificationCount>10">
        <img class="mars-animation" src="../assets/img/animations/mars.svg">
    </div>
    <div *ngIf="classificationCount==15 || classificationCount>15">
        <img class="satellite-animation" src="../assets/img/animations/satellite.svg">
    </div>
    <div *ngIf="classificationCount==20 || classificationCount>20">
        <img class="goldenStar-animation" src="../assets/img/animations/happy-star.svg">
    </div>

    <!-- Earth -->
    <div id="earth">
        <img class="earth-animation" src="../assets/img/planets/earth.svg">
    </div>

    <!-- Conversation turn indicator -->
    <div id="turn-indicator">
        <div class="turn-indicator-container">
            <img *ngIf="voiceRecognitionService.isStoppedSpeechRecog === false" class="turn-indicator-animation" src="../assets/img/planets/talking.svg">
            <img *ngIf="voiceRecognitionService.isStoppedSpeechRecog === true" class="turn-indicator-animation" src="../assets/img/planets/ear.svg">
        </div>
    </div>
    <div id="footer">Icons made by <a href="https://www.flaticon.com/authors/itim2101" title="itim2101">itim2101</a>, <a href="https://www.flaticon.es/autores/smashicons" title="Smashicons">Smashicons</a>, <a href="https://www.flaticon.com/authors/good-ware" title="Good Ware">Good Ware</a>, <a href="https://www.flaticon.es/autores/srip" title="srip">srip</a> and <a href="https://www.flaticon.es/autores/vectors-market" title="Vectors Market">Vectors Market</a>  from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></div>
</div>

